<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="shortcut icon" href="/public/img/logo.png" type="image/png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestionar - APD</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link href="/public/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar', {active: 'managed'}) %>

    <div class="container-fluid">
      <div class="card shadow-sm">
        <div class="card-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#descuadres"
                type="button"
              >
                <i class="bi bi-list-task"></i> Pendientes
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#enProceso"
                type="button"
              >
                <i class="bi bi-gear"></i> En Proceso
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#gestionados"
                type="button"
              >
                <i class="bi bi-check2-circle"></i> Corregidos
              </button>
            </li>
          </ul>

          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="descuadres">
              <div class="table-responsive">
                <table
                  class="table table-striped table-hover w-100"
                  id="tablaPendientes"
                ></table>
              </div>
            </div>

            <div class="tab-pane fade" id="enProceso">
              <div class="table-responsive">
                <table
                  class="table table-striped table-hover w-100"
                  id="tablaEnProceso"
                ></table>
              </div>
            </div>

            <div class="tab-pane fade" id="gestionados">
              <div class="table-responsive">
                <table
                  class="table table-striped table-hover w-100"
                  id="tablaGestionados"
                ></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/js/managed.js"></script>
  </body>
</html>
